{% extends "layout.html" %}

{% block body %}

	<h2> Options </h2>

	<p>
		Please select below what you would like to do:
		<ul>
			
			<li><a href= "/create.html" target= "blank"> Create a case </a></li>
			<li><a href= "/search.html" target= "blank"> Search for cases </a></li>
			<li><a href= "/edit.html" target= "blank"> Edit a case </a></li>
			<li><a href= "/delete.html" target= "blank"> Delete a case </a></li>
			<!-- take an input and then revert to home page -->
			<li><a href= "/logout.html" target= "blank"> Logout </a></li>
		
		</ul>
	</p>
{% endblock %}